body {
  width: 1100px;
  height: auto;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}
.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 100%;
  height: 293px;
  opacity: 1;
}

.header__menu {
  display: flex;
  gap: 40px;
  width: 391.4786376953125px;
  height: 22.00001335144043px;
  list-style: circle;
  top: 133px;
  left: 50px;
  opacity: 1;
}

.nav {
  justify-self: center;
}

.header__links-list {
  display: flex;
  gap: 40px;
  list-style: circle;
}

.header__logo {
  width: 148px;
  height: 105px;
  top: 92px;
  left: 478px;
  opacity: 1;
}

.address {
  justify-self: end;
}

.cover {
  position: relative;
  width: 1100px;
  height: 757px;
  background-image: url(/images/cover.jpg);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}

.cover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

.title {
  position: absolute;
  color: white;
  width: 1000px;
  height: 385px;
  top: 165px;
  left: 50px;
  opacity: 1;
  z-index: 3;
}

.cover__title1 {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 100px;
  line-height: 114.99999999999999%;
  letter-spacing: 30%;
  text-transform: uppercase;
}
.cover__title2 {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 100px;
  line-height: 114.99999999999999%;
  letter-spacing: 30%;
  text-align: center;
  text-transform: uppercase;
}

.cover__title3 {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 100px;
  line-height: 114.99999999999999%;
  letter-spacing: 30%;
  text-align: right;
  text-transform: uppercase;
}

.cover__description {
  display: flex;
  align-items: center;
  position: absolute;
  color: white;
  width: 1000px;
  height: 51px;
  top: 656px;
  left: 50px;
  opacity: 1;
  border-width: 1px;
  z-index: 3;
}

.cover__description-text {
  width: 637px;
  height: 28px;
  top: 668px;
  left: 50px;
  opacity: 1;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.bet-button {
  font-family: Raleway;
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  text-decoration: none;
  margin-left: auto;
  width: 256px;
  height: 51px;
  opacity: 1;
  border-width: 1px;
  background: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.lots {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1052px;
  height: 723px;
  margin-top: 180px;
  margin-left: 24px;
}

.lots_title {
  width: 121px;
  height: 47px;
  left: 40px;
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.lot {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 334px;
  height: 596px;
  opacity: 1;
}

.lot::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.lot1 {
  background-image: url(/images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lot2 {
  background-image: url(/images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lot3 {
  background-image: url(/images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lots-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}

.lot_title {
  display: block;
  position: absolute;
  width: 254px;
  height: 82px;
  top: 48px;
  left: 40px;
  opacity: 1;
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: #ffffff;
  z-index: 2;
}

.lot_description {
  display: block;
  position: absolute;
  justify-self: end;
  opacity: 1;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #ffffff;
  z-index: 2;
}

.lot_description_1 {
  width: 254px;
  height: 144px;
  top: 404px;
  left: 40px;
}

.lot_description_2 {
  width: 254px;
  height: 360px;
  top: 188px;
  left: 40px;
  opacity: 1;
}

.lot_description_3 {
  width: 254px;
  height: 264px;
  top: 284px;
  left: 40px;
  opacity: 1;
}

img {
  object-fit: cover;
}

.lots__look-more-link {
  width: 192px;
  height: 25px;
  border-width: 1px;
  margin-left: 40px;
}

.about {
  position: relative;
  width: 1052px;
  height: 595px;
  margin-top: 120px;
}

.logo_column {
  position: absolute;
  background-image: url(/images/logo-white.svg);
  background-position: center center;
  background-size: 148px 114px;
  background-repeat: no-repeat;
  background-color: #000000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  top: 35px;
  left: 47px;
}

.about_column {
  position: absolute;
  width: 693px;
  height: 449px;
  top: 133px;
  left: 359px;
}

.about__title {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  width: 291px;
  height: 47px;
  margin-top: 3px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 24px;
  width: 693px;
  height: 312px;
  margin-top: 150px;
}

.footer {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 1100px;
  height: 180px;
  top: 180px;
}

.footer.address {
  justify-self: start;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-list__icon {
  display: flex;
  list-style: none;
  gap: 48px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  border-width: 1px;
}